@CHARSET "ISO-8859-1";

td {
    font-size: 0.9em;
}

.question_midcolmn {
	/*width: 330px;*/
}

.question_leftcolmn {
	width: 25px;
	vertical-align: top;
}


.question_rightcolmn {
	vertical-align: text-top;
	padding-left: 20px;
        width: 50px;
}

.table_spacer_hort {
	width: 10px;
	}
	
.question_deftext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.que {
	border: none;
	margin: 0 0 0 0;
}

.que .content {
	float: none;
	margin: 0 0 0 0;
	width: 100%;
}

.prevnextquestion {
	position:relative;
	left:501px;
	width: 300px;
}


.navbar .navbutton, .navbar .menu {
	margin-top: 0px;
}

.anwsertext, .answertext_feedback, .feedbacktext {
	vertical-align: text-top;
}

.anwsertext {
    font-weight: bold;
    height: 48px;
}

.answertext_feedback {
    font-weight: normal;
    height: 48px;
}

.feedbacktext {
	height: 48px;
        font-weight: bold;
}

td.turbottomborder {
	border-bottom: 2px solid #c5d5c4
}

tr.cellspacer-top {
	height: 9px;
}

tr.cellspacer-center {
	height: 0px;
}

div.submitbtns {
	margin-left:48px;
	margin-right:0;
	position:relative;
	top:-14px;
	width:360px;
	text-align: left;
}

div.commentlink {
 	margin-left:48px;
	margin-right:0;
	position:relative;
	top:-14px;
	width:360px;
	text-align: left;
}

/* gem elementer fra quiz review */
h2.main {
	display: none;
	}
	
form {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

table.quizreviewsummary {
	display: none;
}

#mod-quiz-review #page .controls {
	display: none;
}

.paging {
	display: none;
}


#page { 
margin-left:auto;
margin-right:auto;
}

input[name="saveattempt"] {
	display: none;
}

input[name="finishattempt"] {
	/*display: none;*/
}

img.qimage {
	border: 1px solid #666666;
}
	
input[name="markall"] {
	display: none;
}

span.heading1 {
    color: #336633;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

span.correctfbtext {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #336633;
    padding-left: 4px;
    padding-right: 4px;
    text-transform: uppercase;

}

.truefalse {
    vertical-align: middle;
    font-size: 11px;
    color: #336633;
    font-weight: bold;
    text-transform: uppercase;
}

.prevnextquestion {
	position:relative;
        left: 520px;
        top: 6px;
	width: 428px;
}
input#menunavigate {
    float: right;
}
body#mod-quiz-review input#menunavigate{
    margin-bottom: 20px;
}
div.controls {
    display: none;
}
