table {
    /*border: 1px solid red;*/
    width: 100%;
}
.que {
    border: 0;
}


.label {
    /* width: 400px;*/
}

#mcq {
    margin: 20px;
    padding: 0;
    padding-left: 6px;
    background-color: #fff;
}
.grading {
    display: none;
}
.info {
    display: none;
}
tr{
    height: 30px;
    background-color: #fff;
}
.questionline{
    /*  padding: 13px 0 13px 0;*/
    border-top: 2px solid #a3c2a2;
}

td{
    margin: 0;
    padding: 0;
}
td.img{
    /*  vertical-align: text-top;*/
}
td.img img{
    margin: 0;
    padding: 2px;
    border: 1px solid #666;
    vertical-align: text-top;
}
.answeras {
    margin: 20px;
    padding: 0;
    padding-left: 6px;
    background-color: #fff;
}
.que .feedback {
    border-color: #DDD;
}
.que .incorrect {
}

.que.multianswer .incorrect {
    background-color: #faa;
}
.que .partiallycorrect {
    background-color: #ff9;
}
.que .correct {
    background-color: #fff;
}

td .qtext {
    font-family: "Arial Unicode MS";
    color: #336633;
    font-size: 18px;
    font-weight: bolder;
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 10px;
    vertical-align: text-top;
}

.qtext #dmdsound0{
    margin-bottom: -4px;
}

td .qnum{
    background-color: #e0f0ff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    border: none;
}

#answers td {
    vertical-align: top;
}

input.submit.btn {
    margin: 20px;
}

td label {
    padding-right: 20px;
}
/*
.wrong {
  font-weight: bold;
  background-color: #fff;
  color: #CC0000;
}
.correct {
  font-weight: bold;
  background-color: #fff;
  color: #336633;
}
*/
h1.correct {
    font-size: 16px;
    padding-left: 8px;
    padding-top: 18px;
    padding-bottom: -5px;
}
.center {
    text-align: center;
}

.turspeakers {
    /*border: 1px solid red;*/
    /*vertical-align: top;*/
    padding: 0;
    margin: 0;
    padding-top: 10px;
}
/*
input {
  margin-left: 6px;
}
input {
  margin-left: 4px;
  border: 0;
}
*/
#markall,
#saveattempt,
#startsound,
#pausesound,
body#mod-quiz-review div.tabtree {
    display: none;
}
.proeve_chbx {
    width: 21px;
    padding-right: 3px;
}
.errorbox {
    width: 940px;
    margin: auto;
    margin-bottom: 8px;
    background-color: #ffcc00;
    color: #ffffff;
    font-weight: bold;

}